<a href="https://colab.research.google.com/github/Rmiller01/Btech-EDA/blob/main/Copy_of_Exploratory_Data_Analysis_on_Student_Survey_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis on Student Survey Data
Name: ___________

This file is an incomplete analysis of data analytics student survey data.

## Background
As part of the Introduction to Data Analytics pre-admissions course, students complete a survey that asks them questions about their age, height, prior data analytics experience, and other things. This analysis seeks to explore various aspects of these surveys to learn more about students who enroll in the Data Analytics program at Bridgerland Technical College.

## About the data
The data comes from surveys taken by students of the Data Analytics program during the pre-admissions course Introduction to Data Analytics.

In [ ]:
# Import the pandas library
import pandas as pd

# Import the data set as the variable `df`
df = pd.read_csv('data_analytics_students.csv')

In [ ]:
# Get first five rows
df.head()

In [ ]:
# Get basic dataframe information
df.______

As seen in the descriptive statistics below, the average age of students in the Data Analytics program is 31.8, while the median age is 28. The minimum age is 14, probably indicating that the student was still in high school, and the maximum age of enrollment was 78. The means that there is a wide range of ages for students in the data analytics program.

In [ ]:
# Get descriptive statistics
df.describe()

In [ ]:
# Get rows and columns
df.info()

In [ ]:
# Get the age of row 80
df.loc[80, 'Age']

In [ ]:
# Get the favorite hobby of row 24
df.loc[24,"Favorite Hobby"]

In [ ]:
# Get the fictional character of row 42
df.loc[42, 'Fictional Character']

Students in the Data Analytics program have many different hobbies. The most common hobby, however, is reading, and the second most common hobby is skiing.

In [ ]:
# See the most common hobbies among data analytics students
df['Favorite Hobby'].value_counts()

In terms of fictional characters, the most common fictional character among Data Analytics students is Iron Man. However, there are other characters listed multiple times as well, such as Sherlock Holmes, Hermione Granger, and Harry Potter.

In [ ]:
# See the most common fictional character among data analytics students
df['Fictional Character'].value_counts()

The favorite season for students in the Data Analytics program is overwhelmingly fall. There were 38 students who marked fall as their favorite season, and only 14 students marked that winter was their favorite season.

In [ ]:
# Which season do students like most?
df['Favorite Season'].value_counts()

Interestingly, there were about 29% of students enrolled in the Data Analytics program who had prior experience with data. That means that about 71% of student did not have prior experience before enrolling.

In [ ]:
# What percent of students have prior experience in data?
df['Prior Data Experience'].value_counts(normalize=True)

Some of the values in the Height column aren't numbers, but instead contain some text. In this step, I will go through the data set using pandas and change all of the entries to be only numbers.

There are several ways that you could approach this. For example, you could use .loc to print out a group of rows at a time (ie. 10 or 15 at once) and see which ones need fixing. You could also print out all of the rows at once to see which ones need to be fixed. Then, use the .loc property to manually change each of them.

In [ ]:
#### Clean the height data
df.loc[31, 'Height'] = 69

df.head(32)

Finally, I will sort the data set by Age in descending order. That way, I can see the oldest students at the top of the table and the youngest students at the bottom.

In [ ]:
# Sort the data by Age in descending order
df.sort_values(by= 'Age', ascending=False)

In [ ]:
# Get the last twenty rows
df.tail(20)

The resulting data set will now be exported as a clean data set below.

In [ ]:
df.to_csv('data_analytics_students_clean.csv')